- thead = ['ID', 'status', 'begin at (UTC)', 'end at (UTC)', 'distance (km)', '']

.container
	%h1 HISTORICS
	%hr
	%table.table.table-striped
		%thead
			- thead.each do |head|
				%th= head
		%tbody
			- @collection.each do |rental|
				%tr
					%td= rental.id
					%td= rental.status
					%td= rental.begin_at.strftime("%B %d, %Y %H:%m") rescue nil
					%td= rental.end_at.strftime("%B %d, %Y %H:%m") rescue nil
					%td{id: rental.id}= (rental.distance.nil?) ? 'calculating...' : (rental.distance / 1000.0).round(1)
					%td
						= link_to rental_rental_details_path(rental.id), class: 'btn btn-primary btn-xs ml-10' do
							%span.glyphicon.glyphicon-list-alt
							details
						
						= link_to rental.csv.url, class: 'btn btn-success btn-xs ml-10' do
							%span.glyphicon.glyphicon-download-alt
							CSV
	.paginate
		= paginate @collection