- thead = ['ID', 'status', '']


.container
	%h1 RENTALS
	%hr
	%table.table.table-striped
		%thead
			- thead.each do |head|
				%th= head
		%tbody
			- collection.where.not(status: :done).each do |rental|
				%tr
					%td= rental.id
					%td= rental.status
					%td= link_to 'upload', edit_rental_path(rental.id), class: 'btn btn-default btn-xs'

	.paginate
		= paginate collection.where.not(status: :done)